streamlit==1.32.0
openai
pandas
openpyxl
numpy==1.26.4
thefuzz
langchain==0.2.6
langchain-community
langchain-huggingface
langchain-text-splitters

pypdf
chromadb==0.5.3
sentence-transformers==2.7.0
tiktoken
