streamlit>=1.32
openai
pandas
openpyxl
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
pypdf
chromadb==0.4.24
sentence-transformers
numpy==1.26.4
pysqlite3-binary
protobuf~=3.19.0
